{% load bootstrap4%}
{% load static%}
<!DOCTYPE html>
<html>
<head>
    
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudfhttps://github.com/GasaGentille/homedecor.gitlare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootshttps://github.com/GasaGentille/homedecor.gittrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Knewave|Playball&display=swap" rel="stylesheet">

  {% if title %}
  <title>{{title}}</title>
  {% else %}
    <title> NEIGHBORHOOD INFORMATION SYSTEM(NIS) </title>
  {% endif %}
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

</head>
<body >
   


    
    {% include "navbar.html" %}
    {% block content %}
    {%endblock%}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}

     
    {% endblock %}
  <!-- </div> -->
  <div class="subnavigation-container">
      <div class="container">
    <nav class="navbar p-a-0">
      <ul class="nav navbar-nav col-subnav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </nav>
      </div>
    </div>
    
    <div class="m-t-3"></div>
    
    <footer class="mainfooter" role="contentinfo" style="margin-top:20px;">
      <div class="footer-top p-y-2">
        <div class="container-fluid">
          <div class="row">
            
            <div class="col-md-12">
              <div class="footer-title text-xs-center">
              <h4 class="p-b-1">Contact Us</h4>
            </div>
            </div>
            <div class="col-md-2">
              <div class="card card-primary">
                <div class="card-header">Council</div>
              </div>
            </div><!--col-md-2-->
              <div class="col-md-2">
              <div class="card card-primary">
                <div class="card-header">Social Media</div>
              </div>
            </div><!--col-md-2-->
              <div class="col-md-2">
              <div class="card card-primary">
                <div class="card-header">Boards and Committees</div>
              </div>
            </div><!--col-md-2-->
              <div class="col-md-2">
              <div class="card card-primary">
                <div class="card-header">Departments</div>
              </div>
            </div><!--col-md-2-->
              <div class="col-md-2">
              <div class="card card-primary">
                <div class="card-header">Staff</div>
              </div>
            </div><!--col-md-2-->
              <div class="col-md-2">
              <div class="card card-primary">
                <div class="card-header">Fire and Police</div>
              </div>
            </div><!--col-md-2-->
          </div>
        </div>
      </div>
      <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Address</h4>
              <address>
                    <ul class="list-unstyled">
                      <li>
                        City Hall<br>
                        212  Street<br>
                        Lawoma<br>
                        735<br>
                      </li>
                      <li>
                        Phone: 0
                      </li>
                    </ul>
                  </address>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Popular Services</h4>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#">Payment Center</a></li>
                <li><a href="#">Contact Directory</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">News and Updates</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Website Information</h4>
              <ul class="list-unstyled">
                <li><a href="#">Website Tutorial</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Webmaster</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Popular Departments</h4>
              <ul class="list-unstyled">
                <li><a href="#">Parks and Recreation</a></li>
                <li><a href="#">Public Works</a></li>
                <li><a href="#">Police Department</a></li>
                <li><a href="#">Fire</a></li>
                <li><a href="#">Mayor and City Council</a></li>
                <li>
                  <a href="#"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!--Footer Bottom-->
              <p class="text-xs-center">&copy; Copyright 2016 - City of USA.  All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>