{%extends 'all-neighbours/base.html'%}
{% block content %}
{{block.super}}
<div class="container" style="font-family: 'ZCOOL XiaoWei', serif">
    <h1 style="text-align: center;font-family: 'Bowlby One SC', cursive;margin-top: 30px"> {{user.username}}, Welcome
        to {{neighbors.neighbourhood_name}}
    </h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                    <h2>AVAILABLE BUSINESSES:</h2>
                    {% for b in business%}

                    <div class="card" style="width: 18rem;">
                    <img src="{{b.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Business name:</strong>{{b.businessName}}</h5>
                        <p class="card-text"><strong>Business description:</strong>{{b.businessDesc}}</p>
                        <p class="card-text"><stong>Neighborhood:</stong>{{b.neighborhood}}</p>
                    </div>
                  

                    <hr>
                    {% endfor %}
                    <a href="{%url 'new_business'%}" value=""><button class="btn btn-success btn-lg">Add business</button></a>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

<style>


</style>