{%extends 'all-neighbours/base.html'%}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NIS</title>
</head>

<body >
    <div class="container-fluid"style="background-image:url('https://www.tripsavvy.com/thmb/_qkmh9hHgr_76KiJJM08l5lbrLw=/2125x1411/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-584944092-5a799b6ac6733500374865ae.jpg');background-repeat: no-repeat;background-size: cover;width: 100%;height:800px;filter: brightness(60%)">
    <div class="card" style="margin-left:25%;background-color:azure;width: 50%;margin-top: 10%">
        <h1 class="container" style="text-align: center">Choose neighborhood</h1>
        {% for n in neighbor %}



        <div class="card">
            <div class="card-body">
                <h4><a style="text-align: center;color:black" href="{% url 'neighborhood' neighborhood_id=n.id %}">{{n.neighborhood_name}}</a></h4>
            </div>
        </div>

        {% endfor %}

    </div>
</div>
    {% endblock %}

</body>

</html>