<div class="card" style="margin-left:25%;background-color:azure;width: 50%;margin-top: 10%">
        <h1 class="container" style="text-align: center">Choose neighborhood</h1>
        {% for n in neighbor %}
   
    
    
        <div class="card">
            <div class="card-body" >
                <h4><a style="text-align: center;color:black" href="{% url 'neighborhood' neighborhood_id=n.id %}">{{n.neighborhood_name}}</a></h4>
            </div>
        </div>
    
        {% endfor %}
    
    </div>