{%extends "all-neighbours/base.html"%}

{% block content %}

<div class="container">
  {% if profile%}

  {%for profile in profile%}
  <div class="row" style="padding:20px">

    <div class="col-md-4">
      <img class="center-block img-responsive img-circle" src="{{profile.profile_pic.url}}" alt="" style="width:200px; height:250px">
    </div>
    <div class="col-md-8">
      <h1><strong>{{profile.user.username}}</strong></h1>

      <h3>{{profile.bio}}</h3>
      <h3>{{profile.contact}}</h3>

      <a class="btn btn-sm btn-primary" href="{% url 'update_profile' %}"> Update Profile</a>





    </div>
    {%endfor%}
    {%endif%}
  </div>
  

{%endblock%}