{%extends 'all-neighbours/base.html'%}
{% block content %}
{{block.super}}
<div class="container">
  <div class="row"style="color:black">
      
          {% if product%}
            <h2>Found {{ product|length }} of searched term {{message}}</h2>
            
          {% else %}
            <h2> Found 0 product for the search term {{message}}</h2>
          {% endif %}
     
  </div>
  <div class="row masonry-container">
  {% if product%}
    {% for a in product %}
    <div class="item col-md-4">
        <div class="well">
    <div class="thumbnail">
        <div class="card">
        <div class="card-body" >
    
        <p>{{a.ProdType}} {{a.prodName}},  found in {{a.business.businessName}}.{{a.business.businessDesc}} in {{a.business.location}}</p>
        <p>price:{{a.prodPrice}}</p>
       
        
     
        </div>
          </div>
          </div>
          </div>
          </div>
    {% endfor %}
  </div>
  {% endif %}
  </div>
{% endblock %}