h1{
    color:brown;
    font-style: italic;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
.container-fluid{
    background-image:url ("https://www.newtimes.co.rw/sites/default/files/styles/mystyle/public/main/articles/2016/09/18/1474236890RSSB-1.jpg");

    filter: brightness(60%);
    width: 100%;
}