<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NIS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="base.css" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="base.js"></script>
</head>

<body>
  <!-- <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="{% url 'welcome' %}" class="w3-bar-item w3-button"><b>{{user.neighbour.neighbourName}} </b>Neighbourhood</a>
  </div> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-md-2">
      <img src="/static/images/logo.png" style="height:40px;width:70px;margin-left:20px;">


    </div>
    {% if user.is_authenticated %}

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'welcome'%}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newpost/">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Edit Profile</a>

        </li>
        <li class="nav-item"> <a class="nav-link" href=" http://127.0.0.1:8000/admin/">Admin</a></li>
      </ul>
      <div id="form" style="padding-right:400px;">
        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_product' %}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search any product" name="product">
          <button cl0ass="btn btn-default my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <a href="#" >
          <form action="{% url 'logOut'%}" method="post">
              {% csrf_token%}
              <input type="submit" value="logOut">
          </form>
      </a><br>

    </div>
    {% else %}
    <a class='btn btn-default' href="/accounts/login">Login</a>
    {% endif %}

  </nav>


</body>

</html>